var filter = {
  // 数字转换
  numberFormat: function (value) {
    var param = {};
    var k = 10000,
      sizes = ['', '万', '亿', '万亿'],
      i;
    if (value < 100000) {
      return {
        value: value,
        unit: ''
      }
    }
    if (value < k) {
      param.value = value
      param.unit = ''
    } else {
      i = Math.floor(Math.log(value) / Math.log(k));
      param.value = ((value / Math.pow(k, i))).toFixed(2);
      param.unit = sizes[i];
    }
    return param;
  },
  // 将时间戳转换为日期
  formatToDate: function (value) {
    var date = getDate()
    var year = date.getFullYear()
    var month = date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1
    var day = date.getDate() < 10 ? '0' + date.getDate() : date.getDate()
    var dates = getDate(value)
    var years = dates.getFullYear()
    var months = dates.getMonth() + 1 < 10 ? '0' + (dates.getMonth() + 1) : dates.getMonth() + 1
    var days = dates.getDate() < 10 ? '0' + dates.getDate() : dates.getDate()
    if (year === years && month === months && day === days) {
      return '今天'
    } else if (year === years && month === months && days - day === 1) {
      return '明天'
    } else if (year === years && month === months && days - day === 2) {
      return '后天'
    } else {
      return years + '-' + months + '-' + days
    }
  }
}

module.exports = {
  numberFormat: filter.numberFormat,
  formatToDate: filter.formatToDate
}