var filter = {
  // 数字转换
  numberFormat: function (value) {
    var param = {};
    var k = 10000,
      sizes = ['', '万', '亿', '万亿'],
      i;
    // if (value < 100000) {
    //   return {
    //     value: value,
    //     unit: ''
    //   }
    // }
    if (value < 100000) {
      param.value = value
      param.unit = ''
    } else {
      i = Math.floor(Math.log(value) / Math.log(k));
      console.log(i);
      param.value = ((value / Math.pow(k, i))).toFixed(2);
      param.unit = sizes[i];
    }
    return param;
  },
  // 将时间戳转换为日期
  formatToDate: function (value) {
    var date = getDate()
    var year = date.getFullYear()
    var month = date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1
    var day = date.getDate() < 10 ? '0' + date.getDate() : date.getDate()
    var dates = getDate(value)
    var years = dates.getFullYear()
    var months = dates.getMonth() + 1 < 10 ? '0' + (dates.getMonth() + 1) : dates.getMonth() + 1
    var days = dates.getDate() < 10 ? '0' + dates.getDate() : dates.getDate()
    if (year === years && month === months && day === days) {
      return '今天'
    } else if (year === years && month === months && days - day === 1) {
      return '明天'
    } else if (year === years && month === months && days - day === 2) {
      return '后天'
    } else {
      return years + '-' + months + '-' + days
    }
  },
  // 格式化评论条数
  formatCommentsNum: function (value) {
    var number = value.toString()
    var len = '1' + '0'.repeat(number.length - 1)
    if (number.length < 4) {
      return number
    } else if (number.length >= 4 && number.length < 5) {
      return '999+'
    } else if (number.length >= 5 && number.length < 9) {
      return parseInt(len / 10000) + 'w+';
    } else if (number.length >= 9) {
      return parseInt(len / 10000000) + 'kw+'
    }
  },
}

module.exports = {
  numberFormat: filter.numberFormat,
  formatToDate: filter.formatToDate,
  formatCommentsNum: filter.formatCommentsNum
}